<nz-card class="mt-4" [nzCover]="nzAvatar">
  <nz-card-meta
    nzTitle="{{ product.productName }}"
    nzDescription="GIÁ THUÊ: {{ product.rentalPrice | number }} VND"
  >
    <ng-template #nzAvatar>
      <div
        class="image-container"
        (mouseenter)="nextImage()"
        (mouseleave)="resetImage()"
      >
        <!-- Display the current image from the image list -->
        <img
          style="width: 100%; height: 200px; object-fit: fill"
          [src]="currentImage"
          alt="{{ product.productName }}"
          class="image"
        />
      </div>
    </ng-template>
  </nz-card-meta>
  <div class="flex justify-between mt-10">
    <div class="flex justify-between items-center">
      <span
        nz-icon
        nzType="star"
        nzTheme="fill"
        class="text-yellow-300 text-lg"
      ></span>
      <p class="text-sm mx-2 mt-1.5">{{ product.evaluate }}</p>
    </div>
    @if(user && user.Role === 'Lessor'){
    <button nz-button nzGhost nzType="primary" (click)="onEditClick()">
      Chỉnh Sửa
    </button>
    }@else {
    <button nz-button nzGhost nzType="primary">
      Chọn thuê
    </button>
    }
  </div>
</nz-card>
