<!-- <nz-card nzHoverable [nzCover]="coverTemplate(product)">
  <nz-card-meta
    nzTitle="{{ product.productName }}"
    nzDescription="{{ product.description }}"
  >
  </nz-card-meta>
  <ul class="product-details">
    <li><b>Price:</b> {{ product.price | currency:'VND' }}</li>
    <li><b>Quantity:</b> {{ product.quantity }}</li>
    <li><b>Rental Shop:</b> {{ product.rentalShopName }}</li>
    <li><b>Rating:</b> {{ product.evaluate }} ★</li>
  </ul>
  <button nz-button nzType="primary">Chỉnh Sửa</button>
</nz-card>
<ng-template #coverTemplate let-product>
  <img [src]="product.images" alt="{{ product.productName }}" />
</ng-template> -->