<div class="login_wrapper container-fluid min-h-screen">
    <section class="container_login_form absolute bg-white p-3 rounded-md  w-72 sm:w-[500px]">
        <div class="text-center">
            <div class="image_logo">
                <img src="assets/images/logo.png" alt="logo_image.png" srcset="" class="w-full"  routerLink="/"/>
            </div>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="email" class="text-start">email</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid Email!">
                    <nz-input-group>
                        <input nz-input formControlName="email" id="email" placeholder="email"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="password" class="text-start">Password</nz-form-label>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" autocomplete="on"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
                <div nz-col [nzSpan]="12">
                    <label nz-checkbox formControlName="remember">
                        <span>Remember me</span>
                    </label>
                </div>
            </div>
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </form>
    </section>
</div>