
<ng-container *ngIf="false; then formenteremail; else formentercode"></ng-container>
<ng-template #formenteremail>
    <div class="pt-5">
        <h2 class="font-bold text-4xl">Bạn đã quyên mật khẩu của mình?</h2>
        <p class="text-sm text-gray-300 italic">Hãy nhập địa chỉ email liên kết tới tài khoản của bạn
        </p>
    </div>
    <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="forgotpsw-form">
        <nz-form-item>
            <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="email" class="text-start">Email</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Email được nhập không lệ!">
                <nz-input-group nzPrefixIcon="email">
                    <input nz-input formControlName="email" id="email" placeholder="exmaple@gmail.com" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin w-full" [nzType]="'primary'">Tiếp</button>
    </form>
</ng-template>


<ng-template #formentercode>
    <div class="pt-5">
        <h2 class="font-normal text-4xl leading-normal">Xác thực mã được gửi qua <b><mark>Email</mark></b>
        </h2>
        <p class="text-sm text-gray-300 italic">Làm ơn hãy nhập mã code được gửi cho bạn.</p>
    </div>
    <form nz-form [formGroup]="enterCodeForm" (ngSubmit)="submitCodeForm()">
        <nz-form-item>
                <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="code" class="text-start">Mã</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Nhập giá trị không hợp lệ, mong muốn 0-9">
                <div nz-row [nzGutter]="8" nzJustify="center">
                    <div nz-col nzSpan="6">
                        <input type="text" nz-input class="text-center text-lg" formControlName="number1"
                            appNumberOnly />
                    </div>
                    <div nz-col nzSpan="6">
                        <input type="text" nz-input class="text-center text-lg" formControlName="number2"
                            appNumberOnly />
                    </div>
                    <div nz-col nzSpan="6">
                        <input type="text" nz-input class="text-center text-lg" formControlName="number3"
                            appNumberOnly />
                    </div>
                    <div nz-col nzSpan="6">
                        <input type="text" nz-input class="text-center text-lg" formControlName="number4"
                            appNumberOnly />
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
        <div class="">
            <p class="text-right">Otp còn hiệu lực: <b>{{(timeClock$ | async)?.minutes}} : {{(timeClock$ | async)?.seconds}}</b></p>
        </div>
        <button nz-button class="login-form-button login-form-margin w-full" [nzType]="'primary'" [disabled]="(timeClock$ | async)?.seconds === '00'">Lấy lại mật
            khẩu</button>
    </form>
</ng-template>