<div nz-row class="forgot-password_wrapper container-fluid p-0 min-h-screen bg-[#ECECEC]">
    <section nz-col [nzMd]="{ span: 12 }" class="image-section z-30">
        <div class="image_logo absolute brightness-150">
            <img src="assets/images/logo.png" alt="logo_image.png" srcset="" class="w-96 " />
        </div>
    </section>
    <section  nz-col [nzMd]="{ span: 12 }"  [nzSm]="{ span: 24}" class="form-section relative">
        <div class="img-shape1 p-60 absolute -left-28 -top-28"></div>
        <div class="img-shape2 p-60 fixed -bottom-16 -right-36"></div>
        <div class="container_forgot-password_form p-5 rounded-md w-72 sm:w-[425px] lg:w-[500px]">
            <div class="pt-5">
                <h2 class="font-bold text-4xl">Did you forget your password ?</h2>
                <p class="text-sm text-gray-300 italic">Please enter the email address associated with your account</p>
            </div>
            <form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="forgotpsw-form">
                <nz-form-item>
                    <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="phone" class="text-start">Phone</nz-form-label>
                    <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid Phone!">
                        <nz-input-group nzPrefixIcon="phone">
                            <input nz-input formControlName="phone" id="phone" placeholder="(+84) 032-7033-756"/>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <!-- <button nz-button class="login-form-button login-form-margin w-full" [nzType]="'primary'" disabled>Next</button> -->
            </form>
            @if(true){
                <nz-alert
                nzType="success"
                nzMessage="Success Tips"
                nzDescription="Detailed description and advices about successful copywriting."
                nzShowIcon
              ></nz-alert>
            }
        </div>
    </section>
</div>