<div class="pt-5">
  <h2 class="font-bold text-4xl">Tạo tài khoản</h2>
  <p class="text-sm text-gray-300">
    Thực sự đã có tài khoảng
    <a class="hover:text-blue-600" [routerLink]="['/auth/login']">đăng nhập</a>
  </p>
</div>
<ng-container
  *ngIf="flag_process === 'OK_TAB1'; then forminfocommon; else forminfoauth"
></ng-container>

<ng-template #forminfocommon>
  <form nz-form [formGroup]="forminfocommongroup" (ngSubmit)="submitTab1()">
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="firstName"
        class="text-start"
        >Tên đầu tiên</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Nhập tên dầu tiên không hợp lệ!"
      >
        <nz-input-group>
          <input
            type="text"
            placeholder="Nguyen Van"
            formControlName="firstName"
            nz-input
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="lastName"
        class="text-start"
        >Tên cuối</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Nhập tên cuối không hợp lệ!"
      >
        <nz-input-group>
          <input
            type="text"
            placeholder="A"
            formControlName="lastName"
            nz-input
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div>
      <button
        class="py-2 px-4 flex items-center gap-3 border-1 bg-blue-600 text-white rounded-lg transition ease-in-out delay-0 hover:translate-x-4 hover:shadow-lg cursor-pointer"
      >
        Tiếp theo
        <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
      </button>
    </div>
  </form>
</ng-template>
<ng-template #forminfoauth>
  <form nz-form [formGroup]="forminfoauthgroup" (ngSubmit)="submitTabFinall()">
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="email"
        class="text-start"
        >Email</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Nhập email không hợp lệ!"
      >
        <nz-input-group>
          <input
            type="email"
            placeholder="nguyenvana@gmail.com"
            formControlName="email"
            nz-input
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="username"
        class="text-start"
        >Tên người dùng</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Nhập tên người dùng không hợp lệ!"
      >
        <nz-input-group>
          <input
            type="text"
            placeholder="nguyenvana1999"
            formControlName="username"
            nz-input
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="24"
        [nzXs]="24"
        nzRequired
        nzFor="password"
        class="text-start"
        >Mật khẩu</nz-form-label
      >
      <nz-form-control
        [nzSm]="24"
        [nzXs]="24"
        nzErrorTip="Nhập mật khẩu có vấn đề!"
      >
        <nz-input-group>
          <input type="password" formControlName="password" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="mb-3">
      <button
        type="button"
        (click)="toggleTabRegiser('OK_TAB1')"
        class="py-2 px-4 flex items-center gap-3 border-1 bg-blue-600 text-white rounded-lg transition ease-in-out delay-150 hover:translate-x-4 cursor-pointer"
      >
        <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
        Trở lại
      </button>
    </div>
    <div>
      <button nz-button class="w-full" [nzType]="'primary'">
        Tạo tài khoản
      </button>
    </div>
  </form>
</ng-template>
