<div class="py-2 min-h-[500px]">
  <div class="border-b border-solid border-[#E1E1E1] pb-5 px-2">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Tìm kiếm cuộc trò chuyện" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div class="my-2 overflow-y-auto max-h-[500px]">
    @for (item of listChatMember$ | async; track $index) {
    <div
      class="flex justify-between items-start gap-3 p-2 rounded-md transition-all duration-200 ease-in-out hover:bg-[#F2F2F7] cursor-pointer"
      (click)="chooseChatItem(item)"
      >
      <img
        [src]="item.chatPic"
        alt="avatar.png"
        class="object-cover w-[50px] h-[50px] shadow-md rounded-full"
      />
      <div class="flex-1">
        <h5 class="capitalize font-medium text-[#000] text-[15px]">
          {{ item.chatName }}
          <span class="text-[10px] text-[#898F94]">{{item.lastMessageDate | dateFirebase}}</span>
        </h5>
        <p class="text-[#898F94] text-[10px] leading-3 truncate text-wrap" [ngClass]="{'font-medium text-[13px] text-black': !item.lastMessage}">
          {{ item.lastMessage || 'Trò chuyện với nhau ngay đi!' }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
