<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzMaskClosable]="true"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'700px'"
>
  <ng-container *nzModalContent>
    <div *ngFor="let pro of order.orderDetails; let i = index">
      <div class="py-3 cursor-pointer">
        <div
          class="flex justify-start gap-8 border-solid border-2 border-zinc-300 p-2 rounded"
        >
          <img
            class="rounded object-cover"
            [src]="pro.product.productImages[0].link"
            alt="anh san pham"
            [width]="80"
            [height]="50"
          />
          <div class="mt-2">
            <h2 class="title font-semibold text-base uppercase">
              {{ pro.product.productName }}
            </h2>
            <div
              class="grid grid-cols-2 gap-10 text-zinc-500 text-xs font-medium py-3"
            >
              <div class="columns-2 gap-6">
                <p>SỐ LƯỢNG:</p>
                <p class="font-normal">{{ pro.product.quantity }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Rating input for each product -->
      <div class="my-5">
        <div class="columns-3 gap-2">
          <h3 class="font-medium text-lg">Chất Lượng</h3>
          <nz-rate
            [(ngModel)]="feedBack[i].rating"
            (ngModelChange)="onRatingChange(i)"
          ></nz-rate>
          <p
            class="p-2"
            [ngClass]="{ 'text-yellow-300': feedBack[i].rating >= 4 }"
          >
            {{ ratingName[feedBack[i].rating - 1] }}
          </p>
        </div>
      </div>

      <!-- Review input for each product -->
      <div class="my-5">
        <h3 class="font-medium text-lg mb-2">Đánh Giá</h3>
        <textarea
          nz-input
          placeholder="Đánh Giá Thiết Bị Thuê"
          [(ngModel)]="feedBack[i].comment"
          [nzAutosize]="{ minRows: 5, maxRows: 8 }"
        ></textarea>
      </div>
    </div>

    <div class="flex justify-end">
      <button nz-button nzType="primary" (click)="handleCancel()" nzGhost>
        Trở Lại
      </button>
      <button nz-button nzType="primary" class="mx-3" (click)="onSave()">
        Hoàn Thành
      </button>
    </div>
  </ng-container>
</nz-modal>
