<div class="h-full border-none">
  <!-- header -->
  <div class="leading-5 capitalize font-thin text-[#000] pb-3">
    <span class="text-red-500 font-bold">* &nbsp;</span>Giá thuê theo ngày
  </div>
  <!-- Main content container -->
  <div class="pb-3">
    <app-renter-item [pId]="productIdParam" />
  </div>
  <!-- Rental details section -->
  <div class="pb-3">
    <div class="leading-5 capitalize font-thin text-[#000] pb-3">
      <span class="text-red-500 font-bold">* &nbsp;</span>Thời gian thuê
    </div>
    <app-rental-period (handleOpenPeriod)="showModal()"></app-rental-period>
  </div>
   <!-- chọn ngày thuê có sẵn -->
   <div class="pb-3">
    <div class="leading-5 capitalize font-thin text-[#000] pb-3">
      <span class="text-red-500 font-bold">* &nbsp;</span> Chọn thời gian thuê tiêu chuẩn
    </div>
    <app-select-radio-rental-day/>
  </div>
  <!-- voucher -->
  <div class="pb-3">
    <div class="leading-5 capitalize font-thin text-[#000] pb-3">
      <span class="text-red-500 font-bold">* &nbsp;</span> Chọn mã giảm giá
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="leading-5 capitalize text-[#000] pb-3 font-medium">
      <span class="text-red-500 font-bold">* &nbsp;</span>Đơn giá cọc
    </div>
    <p class="text-[20px]">
      {{ depositPriceActual$ | async | currency : "VND" }}
    </p>
  </div>
  <div class="flex justify-between items-center">
    <div class="leading-5 capitalize text-[#000] pb-3 font-medium">
      <span class="text-red-500 font-bold">* &nbsp;</span>Đơn giá thuê
    </div>
    <p class="text-[20px]">
      {{ rentalPriceActual$ | async | currency : "VND" }} / ngày
    </p>
  </div>
  <div class="mb-3">
    <nz-textarea-count [nzMaxCharacterCount]="100">
      <textarea
        rows="4"
        placeholder="ghi chú"
        nz-input
        [(ngModel)]="inputNote"
      ></textarea>
    </nz-textarea-count>
  </div>
  <button
    nz-button
    class="w-full bg-[#0A66EB] h-12 text-white rounded-md hover:border-blue-600"
    (click)="onChooseRental()"
  >
    Chọn thuê
  </button>
</div>

<!-- Modal for rental time selection -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzWidth]="700"
  nzTitle="Thời gian"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-picker-timer></app-picker-timer>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="flex justify-between items-center">
      <div class="font-semibold text-start">
        @if((rangePickerTime$ | async); as rangePickerTime) {
        <p>
          {{ (selectedTimeStart$ | async).value }}
          {{ rangePickerTime[0] | date : "dd/MM/yyyy" }}
          <span nz-icon nzType="minus" nzTheme="outline"></span>
          {{ (selectedTimeEnd$ | async).value }}
          {{ rangePickerTime[1] | date : "dd/MM/yyyy" }}
        </p>
        }
        <p>
          Thời gian thuê:
          <span class="text-[#0F6CF8]">{{ rentalDays$ | async }} ngày</span>
        </p>
      </div>
      <button
        nz-button
        nzType="primary"
        (click)="handleOk()"
        [nzLoading]="isConfirmLoading"
      >
        Tiếp tục
      </button>
    </div>
  </ng-container>
</nz-modal>
