<nz-card class="p-2 bg-gray-50 min-w-[480px] h-full">
  <nz-card-meta
    [nzTitle]="titleForm"
    [nzDescription]="descriptionForm"
  ></nz-card-meta>
  <!-- Main content container -->
  <div>
    <app-renter-item
      [productRentalCommon]="productRentalDetail$ | async"
      [pId]="productIdParam"
    />
    <!-- Rental details section -->
    <div class="mb-3">
      <p class="text-[20px] font-medium">Thời gian thuê</p>
      <app-rental-period (handleOpenPeriod)="showModal()"></app-rental-period>
    </div>
    <div class="flex justify-between items-center">
      <p class="text-[15px] font-semibold">Đơn giá cọc</p>
      <p class="text-[20px]">
        {{ depositPriceActual$ | async | currency : "VND" }}
      </p>
    </div>
    <div class="flex justify-between items-center">
      <p class="text-[15px] font-semibold">Đơn giá thuê</p>
      <p class="text-[20px]">
        {{ rentalPriceActual$ | async | currency : "VND" }} / ngày
      </p>
    </div>
    <div class="mb-3">
      <nz-textarea-count [nzMaxCharacterCount]="  100">
        <textarea
          rows="4"
          placeholder="ghi chú"
          nz-input
          [(ngModel)]="inputNote"
        ></textarea>
      </nz-textarea-count>
    </div>
    <button
      nz-button
      class="w-full bg-orange-500 h-12 text-white rounded-md hover:border-orange-600"
      (click)="onChooseRental()"
    >
      Chọn thuê
    </button>
  </div>
</nz-card>

<!-- Templates for title and description -->
<ng-template #titleForm>
  <h4 class="font-medium">Thuê sản phẩm</h4>
</ng-template>
<ng-template #descriptionForm>
  <p class="text-[20px] italic text-[#B3B3B3]">
    {{ (productRentalDetail$ | async)?.productName }}
  </p>
</ng-template>

<!-- Modal for rental time selection -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzWidth]="700"
  nzTitle="Thời gian"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <app-picker-timer></app-picker-timer> 
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="flex justify-between items-center">
      <div class="font-semibold text-start">
        @if((rangePickerTime$ | async); as rangePickerTime) {
        <p>
          {{ (selectedTimeStart$ | async).value }}
          {{ rangePickerTime[0] | date : "dd/MM/yyyy" }}
          <span nz-icon nzType="minus" nzTheme="outline"></span>
          {{ (selectedTimeEnd$ | async).value }}
          {{ rangePickerTime[1] | date : "dd/MM/yyyy" }}
        </p>
        }
        <p>
          Thời gian thuê:
          <span class="text-[#0F6CF8]">{{ rentalDays$ | async }} ngày</span>
        </p>
      </div>
      <button
        nz-button
        nzType="primary"
        (click)="handleOk()"
        [nzLoading]="isConfirmLoading"
      >
        Tiếp tục
      </button>
    </div>
  </ng-container>
</nz-modal>
