.product-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .thumbnail-image {
    margin-bottom: 8px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    transition: border 0.3s;
  }
  
  .thumbnail-image:hover {
    border-color: blue;
  }
  
  .main-image-wrapper {
    width: calc(100% - 100px);
  }
  
  .main-image {
    height: 760px;
    object-fit: cover;
    border-radius: 20px;
  }
  