<!-- tag found product search  -->
<div class="">
  @if ((!productRentalDetailArray$ || (productRentalDetailArray$ |
  async)?.length === 0)) {
  <div class="flex justify-center items-center">
    <img src="assets/images/6931683-Photoroom.png" alt="" class="w-[250px]" />
  </div>
  } @else {
  <div class="h-full border-none">
    <!-- header -->
    <div class="leading-5 capitalize font-thin text-[#000] pb-3">
      <span class="text-red-500 font-bold">* &nbsp;</span>Giá thuê theo ngày
    </div>
    <!-- Main content container -->
    <div class="pb-3 flex flex-col w-full gap-y-2">
      @for (item of productRentalDetailArray$ | async; track item.productId) {
      <app-renter-item
        [pId]="item.productId.toString()"
        (removeOneRow)="onRemoveRow($event)"
      />
      }
    </div>
    <!-- Rental details section -->
    <div class="pb-3">
      <div class="leading-5 capitalize font-thin text-[#000] pb-3">
        <span class="text-red-500 font-bold">* &nbsp;</span>Thời gian thuê
      </div>
      <app-rental-period
        (handleOpenPeriod)="onChooseDateCustom()"
      ></app-rental-period>
    </div>
    <!-- chọn ngày thuê có sẵn -->
    <div class="pb-3">
      <div class="leading-5 capitalize font-thin text-[#000] pb-3">
        <span class="text-red-500 font-bold">* &nbsp;</span> Chọn thời gian thuê
        tiêu chuẩn
      </div>
      <app-select-radio-rental-day />
    </div>
    <!-- voucher -->
    <div class="pb-3">
      <div
        class="leading-5 capitalize flex items-center justify-between font-thin text-[#000] pb-3"
      >
        <p>
          <span class="text-red-500 font-bold">* &nbsp;</span> Chọn mã giảm giá
        </p>
        <span
          nz-icon
          nzType="gift"
          nzTheme="outline"
          class="text-lg cursor-pointer"
        ></span>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="leading-5 capitalize text-[#000] pb-3 font-medium">
        <span class="text-red-500 font-bold">* &nbsp;</span>Đơn giá cọc
      </div>
      <p class="text-[20px]">
        {{ depositPriceActualAll$ | async | currency:'VND':'VND':'1.0-0':'vi' }}
      </p>
    </div>
    <div class="flex justify-between items-center">
      <div class="leading-5 capitalize text-[#000] pb-3 font-medium">
        <span class="text-red-500 font-bold">* &nbsp;</span>Đơn giá thuê
      </div>
      <p class="text-[20px]">
        {{ rentalPriceActualAll$ | async | currency:'VND':'VND':'1.0-0':'vi' }}
        / ngày
      </p>
    </div>
    <button
      nz-button
      class="w-full bg-[#0A66EB] h-12 text-white rounded-md hover:border-blue-600"
      (click)="onChooseRental(modalTitle)"
    >
      Chọn thuê
    </button>
  </div>
  }
</div>
<!-- header confirm order proccess -->
<ng-template #modalTitle>
  <h3 class="font-medium">Xác nhận đơn thuê sản phẩm</h3>
</ng-template>
<!-- header confirm order proccess -->
