<nz-card style="max-width: 380px" class="p-2">
  <nz-card-meta
    nzTitle="Chi tiết thiết bị thuê"
    nzDescription="Máy giặt XQB30MJ102W"
  ></nz-card-meta>
  <hr class="my-5" />
  <div class="">
    <div>
      <p class="my-3">Thời gian thuê:</p>
      <nz-radio-group [(ngModel)]="selectedTimeOption" class="mb-5">
        <label nz-radio-button [nzValue]="'day'">Theo ngày</label>
        <label nz-radio-button [nzValue]="'month'">Theo tháng</label>
        <label nz-radio-button [nzValue]="'year'">Theo năm</label>
      </nz-radio-group>
    </div>

    <div *ngIf="selectedTimeOption === 'day'">
      <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
    </div>

    <div *ngIf="selectedTimeOption === 'month'">
      <nz-range-picker [(ngModel)]="month" nzMode="month"></nz-range-picker>
    </div>

    <div *ngIf="selectedTimeOption === 'year'">
      <nz-range-picker [(ngModel)]="year" nzMode="year"></nz-range-picker>
    </div>
  </div>

  <form class="max-w-xs mx-auto my-3">
    <label for="counter-input">Số Lượng:</label>
    <div class="relative flex items-center my-3">
      <button
        nz-button
        id="decrement-button"
        data-input-counter-decrement="counter-input"
        class="flex-shrink-0 p-3.5 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
      >
        <span nz-icon nzType="minus" nzTheme="outline"></span>
      </button>
      <input
        type="text"
        id="counter-input"
        data-input-counter
        class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[3.5rem] text-center"
        placeholder=""
        value="1"
        required
      />
      <button
        nz-button
        id="increment-button"
        data-input-counter-increment="counter-input"
        class="flex-shrink-0 p-3.5 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>
  </form>
  <p class="my-3">Ghi chú:</p>
  <textarea
    nz-input
    placeholder="Điền ghi chú cho chủ cho thuê!"
    [nzAutosize]="{ minRows: 3, maxRows: 5 }"
  ></textarea>
  <div class="flex justify-between my-3">
    <p class="mt-0.5">Tạm Tính</p>
    <p class="text-xl font-bold">500,000 VND</p>
  </div>
  <button
    nz-button
    class="w-full bg-orange-500 h-12 text-white rounded-md hover:border-orange-600"
  >
    Đăng Ký Thuê Ngay
  </button>
</nz-card>
