<div
  nz-row
  class="change-password_wrapper container-fluid p-0 min-h-screen bg-[#ECECEC]"
>
  <section nz-col nzSpan="12" class="image-section z-30"></section>
  <section nz-col nzSpan="12" class="form-section relative">
    <div class="container_change-password_form p-5 rounded-md">
      <div class="pt-5">
        <h2 class="font-bold text-5xl text-center">Change Password</h2>
      </div>
      <form
        nz-form
        [formGroup]="changePswForm"
        (ngSubmit)="submitForm()"
        class="forgotpsw-form"
      >
        <nz-form-item>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="The input is not valid Current Password!"
          >
            <nz-input-group class="mb-3" [nzSuffix]="suffixcurrentPsw">
              <input
                class="input-wrapper"
                [type]="curPswVisible ? 'text' : 'password'"
                nz-input
                formControlName="currentPsw"
                id="currentPsw"
                placeholder="Current Password"
              />
            </nz-input-group>
            <ng-template #suffixcurrentPsw>
              <span
                nz-icon
                [nzType]="curPswVisible ? 'eye-invisible' : 'eye'"
                (click)="curPswVisible = !curPswVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="The input is not valid New Password!"
          >
            <nz-input-group class="mb-3" [nzSuffix]="suffixnewPsw">
              <input
                class="input-wrapper"
                [type]="newPswVisible ? 'text' : 'password'"
                nz-input
                formControlName="newPsw"
                placeholder="New Password"
                id="newPsw"
              />
            </nz-input-group>
            <ng-template #suffixnewPsw>
              <span
                nz-icon
                [nzType]="newPswVisible ? 'eye-invisible' : 'eye'"
                (click)="newPswVisible = !newPswVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="The input is not valid Confirm Password!"
          >
            <nz-input-group class="mb-3" [nzSuffix]="suffixconfirmPsw">
              <input
                class="input-wrapper"
                [type]="confirmVisible ? 'text' : 'password'"
                nz-input
                formControlName="confirmPsw"
                id="currentPsw"
                placeholder="Confirm Password"
              />
            </nz-input-group>
            <ng-template #suffixconfirmPsw>
              <span
                nz-icon
                [nzType]="confirmVisible ? 'eye-invisible' : 'eye'"
                (click)="confirmVisible = !confirmVisible"
              ></span>
            </ng-template>
            <nz-alert
              class="mt-3"
              *ngIf="confirmPsw?.hasError('matching')"
              nzType="error"
              nzDescription="New password must match!"
            ></nz-alert>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="mt-3 w-full" [nzType]="'primary'">Save</button>
      </form>
    </div>
  </section>
</div>
