<app-navbar-headear
  [isCollapsed]="isSidebarCollapsed"
  [notificationCount]="notificationCount"
  (toggleSidebar)="onToggleSidebar($event)"
  (avatarClick)="onAvatarClick()"
>
</app-navbar-headear>
<nz-layout class="main-layout h-screen">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isSidebarCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
  >
    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>DashBoard</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>User</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="apartment" nzTheme="outline"></span>
        <span>Role</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Group</span>
      </li>
      <!-- <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>List User</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-content>
    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>User</nz-breadcrumb-item>
      <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
