<!-- <nz-layout class="inner-layout h-full">
  <nz-sider nzWidth="300px" nzTheme="light">
    <div class="flex justify-start p-3">
      <nz-avatar
        [nzSize]="60"
        nzSrc="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg"
      ></nz-avatar>
      <div class="mx-3">
        <p class="font-bold text-lg">Nguyễn Văn A</p>
        <a (click)="showEditProfile()" nz-button nzType="link" nzBlock
          ><span
            class="text-lg pb-1"
            nz-icon
            nzType="edit"
            nzTheme="outline"
          ></span
          >Sửa Hồ Sơ</a
        >
      </div>
    </div>
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzOpen nzTitle="Tài Khoản Của Tôi" nzIcon="user">
        <ul>
          <li nz-menu-item nzSelected>Hồ Sơ</li>
          <li nz-menu-item>Đổi Mật Khẩu</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Tiền Của Tôi" nzIcon="wallet">
        <ul>
          <li nz-menu-item>Ví Tiền</li>
          <li nz-menu-item>Lịch Sử Giao Dịch</li>
        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="bell" nzTheme="outline"></span>
        <span>Thông Báo</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="solution" nzTheme="outline"></span>
        <span>Đơn Yêu Cầu Thuê Của Tôi</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="history" nzTheme="outline"></span>
        <span>Lịch Sử Thuê Của Tôi</span>
      </li>
    </ul>
  </nz-sider>
  <nz-content class="inner-content bg-white">
    <div class="container mt-5 mx-10">
      <div class="grid grid-cols-3 gap-8">
        <div class="col-span-2">
          <div class="w-max rounded overflow-hidden shadow-lg font-mono">
            <div class="px-24 py-10">
              <div
                class="font-bold text-4xl mb-2 text-start text-gray-500 mt-6 uppercase"
              >
                Thông Tin Cá Nhân
              </div>
              <div class="flex justify-between">
                <div class="flex justify-start mt-6 pr-20 pl-0">
                  <div class="columns-2 gap-6">
                    <p class="font-bold mb-4 text-xl">Tên người dùng:</p>
                    <p class="font-bold mb-4 text-xl">Họ và Tên:</p>
                    <p class="font-bold mb-4 text-xl">Email:</p>
                    <p class="font-bold mb-4 text-xl">Số điện thoại:</p>
                    <p class="font-bold mb-4 text-xl">Địa chỉ:</p>
                    <p class="font-bold mb-4 text-xl">Giới tính:</p>
                    <p class="font-bold mb-4 text-xl">Ngày sinh:</p>

                    <p class="text-xl mb-4">Nguyễn Văn A</p>
                    <p class="text-xl mb-4">Nguyễn Văn A</p>
                    <p class="text-xl mb-4">a123&#64;gmail.com</p>
                    <p class="text-xl mb-4">0123456789</p>
                    <p class="text-xl mb-4">Hà Nội</p>
                    <p class="text-xl mb-4">Nam</p>
                    <p class="text-xl mb-4">01/01/2000</p>
                  </div>
                </div>
                <div class="pl-24 divide">
                  <nz-avatar
                    [nzSize]="200"
                    nzSrc="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg"
                  ></nz-avatar>
                  <p class="text-xl text-gray-400 text-center mt-2">
                    Ảnh Đại Diện
                  </p>
                  <div class="flex justify-center mt-4">
                    <button
                      nz-button
                      [nzSize]="'large'"
                      nzType="primary"
                      (click)="showEditProfile()"
                    >
                      Sửa Hồ Sơ
                    </button>
                  </div>
                </div>
              </div>
              <div class="flex justify-end"></div>
              <app-form-user
                [isVisible]="isVisible"
                [title]="title"
                (closeModal)="handleCloseModal()"
              ></app-form-user>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout> -->
<div class="container mt-5 mx-10">
  <div class="grid grid-cols-3 gap-8">
    <div class="col-span-2">
      <div class="w-max rounded overflow-hidden shadow-lg font-mono">
        <div class="px-24 py-10">
          <div
            class="font-bold text-4xl mb-2 text-start text-gray-500 mt-6 uppercase"
          >
            Thông Tin Cá Nhân
          </div>
          <div class="flex justify-between">
            <div class="flex justify-start mt-6 pr-20 pl-0">
              <div class="columns-2 gap-6">
                <p class="font-bold mb-4 text-xl">Tên người dùng:</p>
                <p class="font-bold mb-4 text-xl">Họ và Tên:</p>
                <p class="font-bold mb-4 text-xl">Email:</p>
                <p class="font-bold mb-4 text-xl">Số điện thoại:</p>
                <p class="font-bold mb-4 text-xl">Địa chỉ:</p>
                <p class="font-bold mb-4 text-xl">Giới tính:</p>
                <p class="font-bold mb-4 text-xl">Ngày sinh:</p>

                <p class="text-xl mb-4">Nguyễn Văn A</p>
                <p class="text-xl mb-4">Nguyễn Văn A</p>
                <p class="text-xl mb-4">a123&#64;gmail.com</p>
                <p class="text-xl mb-4">0123456789</p>
                <p class="text-xl mb-4">Hà Nội</p>
                <p class="text-xl mb-4">Nam</p>
                <p class="text-xl mb-4">01/01/2000</p>
              </div>
            </div>
            <div class="pl-24 divide">
              <nz-avatar
                [nzSize]="200"
                nzSrc="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg"
              ></nz-avatar>
              <p class="text-xl text-gray-400 text-center mt-2">Ảnh Đại Diện</p>
              <div class="flex justify-center mt-4">
                <button
                  nz-button
                  [nzSize]="'large'"
                  nzType="primary"
                  (click)="showEditProfile()"
                >
                  Sửa Hồ Sơ
                </button>
              </div>
            </div>
          </div>
          <div class="flex justify-end"></div>
          <app-form-user
            [isVisible]="isVisible"
            [title]="title"
            (closeModal)="handleCloseModal()"
          ></app-form-user>
        </div>
      </div>
    </div>
  </div>
</div>
