<ng-container *ngIf="userError; else profileContent">
  <div class="flex justify-center">
    <nz-result
      nzStatus="500"
      nzTitle="500"
      nzSubTitle="Xin lỗi, có lỗi trên máy chủ."
    ></nz-result>
  </div>
</ng-container>

<ng-template #profileContent>
  <div class="container mt-5 mx-10">
    <div class="grid grid-cols-2 gap-8">
      <div class="col-span-2">
        <div
          class="w-11/12 rounded overflow-hidden shadow-lg font-mono border-2"
        >
          <div class="px-24 py-10">
            <div
              class="font-bold text-4xl mb-2 text-start text-gray-500 mt-6 uppercase"
            >
              Thông Tin Cá Nhân
            </div>
            <div class="flex justify-between">
              <div class="flex justify-start mt-6 pr-20 pl-0">
                <div class="columns-2 gap-6">
                  <p class="font-bold mb-4 text-xl">Tên người dùng:</p>
                  <p class="font-bold mb-4 text-xl">Họ và Tên:</p>
                  <p class="font-bold mb-4 text-xl">Email:</p>
                  <p class="font-bold mb-4 text-xl">Số điện thoại:</p>
                  <p class="font-bold mb-4 text-xl">Địa chỉ:</p>
                  <p class="font-bold mb-4 text-xl">Giới tính:</p>
                  <p class="font-bold mb-4 text-xl">Ngày sinh:</p>

                  <p class="text-xl mb-4">
                    {{ user.userName || "chưa có thông tin" }}
                  </p>
                  <p class="text-xl mb-4">
                    {{ user.fullName || "chưa có thông tin" }}
                  </p>
                  <p class="text-xl mb-4">
                    {{ user.email || "chưa có thông tin" }}
                  </p>
                  <p class="text-xl mb-4">
                    {{ user.phoneNumber || "chưa có thông tin" }}
                  </p>
                  <p class="text-xl mb-4">
                    {{ user.address || "chưa có thông tin" }}
                  </p>
                  <p class="text-xl mb-4">{{ user.gender ? "Nam" : "Nữ" }}</p>
                  <p class="text-xl mb-4">
                    {{
                      user.dateOfBirth
                        | date : "dd/MM/yyyy" || "chưa có thông tin"
                    }}
                  </p>
                </div>
              </div>
              <div class="pl-24 divide">
                <nz-avatar
                  [nzSize]="200"
                  [nzSrc]="
                    user.avatarPersonal
                      ? user.avatarPersonal
                      : 'assets/images/default-avatar.jpg'
                  "
                ></nz-avatar>
                <p class="text-xl text-gray-400 text-center mt-2">
                  Ảnh Đại Diện
                </p>
                <div class="flex justify-center mt-4">
                  <button
                    nz-button
                    [nzSize]="'large'"
                    nzType="primary"
                    (click)="showEditProfile()"
                  >
                    Sửa Hồ Sơ
                  </button>
                </div>
              </div>
            </div>
            <div class="flex justify-end"></div>
            <app-form-user
              [isEditMode]="true"
              [userUpdate]="userInformation"
              [isVisible]="isVisible"
              [title]="title"
              (closeModal)="handleCloseModal()"
              [alertType]="alertType"
              [alertMessage]="alertMessage"
              [showAlert]="showAlert"
              (updateUser)="updateUser($event)"
            ></app-form-user>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
