<div class="border relative rounded-lg p-4 bg-white shadow-md mt-3">
  <div class="flex flex-col md:flex-row h-auto md:h-32">
    <div class="w-full md:w-1/3 relative">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/007/068/286/small/background-for-website-or-mobile-app-online-shopping-with-3d-smartphone-on-blue-background-free-vector.jpg"
        alt="Group Image"
        class="rounded-lg w-full h-32 object-cover"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="text-white bg-black bg-opacity-50 w-full h-full flex items-center justify-center rounded-lg p-4"
        >
          <img
            src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/477743KJB/anh-mo-ta.png"
            alt="Avatar"
            class="w-14 h-14 object-cover rounded-full mr-4"
          />
          <div class="flex flex-col items-start">
            <h2 class="text-md font-semibold text-white md:text-lg lg:text-xl">
              {{ shopName }}
            </h2>
            <p class="text-xs text-gray-300 md:text-sm lg:text-base">
              Online 1 phút trước
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-2/3 pl-0 md:pl-4 mt-4 md:mt-0">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
        <div>
          <p class="flex items-center m-5 mb-0 text-xs md:text-sm lg:text-base">
            <span
              class="text-lg"
              nz-icon
              nzType="shop"
              nzTheme="outline"
            ></span>
            <span class="text-xs md:text-sm lg:text-base mx-2 truncate"
              >Thiết Bị:</span
            >
            <span
              class="text-blue-500 ml-1 text-xs md:text-sm lg:text-base truncate"
              >118</span
            >
          </p>
        </div>
        <div>
          <p
            class="flex items-center mx-5 mt-5 text-xs md:text-sm lg:text-base"
          >
            <span
              class="text-lg"
              nz-icon
              nzType="star"
              nzTheme="outline"
            ></span>
            <span class="text-xs md:text-sm lg:text-base mx-2 truncate"
              >Đánh Giá:</span
            >
            <span
              class="text-blue-500 ml-1 text-xs md:text-sm lg:text-base truncate"
              >4.9 (118 đánh giá)</span
            >
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4">
        <div>
          <p class="flex items-center mx-5 text-xs md:text-sm lg:text-base">
            <span
              class="text-lg"
              nz-icon
              nzType="usergroup-add"
              nzTheme="outline"
            ></span>
            <span class="text-xs md:text-sm lg:text-base mx-2 truncate"
              >Người Đang Thuê:</span
            >
            <span
              class="text-blue-500 ml-1 text-xs md:text-sm lg:text-base truncate"
              >118</span
            >
          </p>
        </div>
        <div>
          <p class="flex items-center mx-5 text-xs md:text-sm lg:text-base">
            <span
              class="text-lg"
              nz-icon
              nzType="team"
              nzTheme="outline"
            ></span>
            <span class="text-xs md:text-sm lg:text-base mx-2 truncate"
              >Tham Gia:</span
            >
            <span
              class="text-blue-500 ml-1 text-xs md:text-sm lg:text-base truncate"
              >3 Tháng Trước</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Background Image Section -->
<div class="bg mt-4">
  <img
    class="w-full h-48 md:h-60 rounded object-cover"
    src="https://noithathot.com/cong-trinh/anphat/thiet-ke-cua-hang-may-tinh-2.webp"
    alt=""
  />
</div>

<!-- Search Input and Button Section -->
<nz-row class="mt-4" [nzGutter]="16" nzJustify="space-between">
  <nz-col nzSpan="16">
    <nz-input-group
      nzSearch
      [nzAddOnAfter]="suffixIconButton"
      class="w-full md:w-96"
    >
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm theo tên sản phẩm"
        [(ngModel)]="searchText"
        (keydown.enter)="onSearch()"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="onSearch()">
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </nz-col>
  <nz-col nzSpan="8" class="text-right">
    <button nz-button nzType="primary" nzGhost (click)="showProductModal()">
      Tạo Thiết Bị Cho Thuê Mới
    </button>
  </nz-col>
</nz-row>

<!-- Product Grid Section -->
<nz-row [nzGutter]="16" class="mt-4">
  <nz-col
    *ngFor="let product of productList"
    [nzXs]="24"
    [nzSm]="12"
    [nzMd]="8"
    [nzLg]="6"
  >
    <app-product-card
      [product]="product"
      (editProduct)="showProductModal(product.id)"
    ></app-product-card>
  </nz-col>
</nz-row>

<!-- Pagination Section -->
<nz-row nzJustify="center" class="mt-4">
  <nz-pagination
    [nzPageSize]="pageSize"
    [nzTotal]="totalProducts"
    [(nzPageIndex)]="currentPage"
    (nzPageIndexChange)="handlePageChange($event)"
    class="mt-6"
  ></nz-pagination>
</nz-row>

<app-form-product
  [isEditMode]="isEditMode"
  [title]="title"
  [isVisible]="isVisible"
  [productUpdate]="productInformation"
  [alertMessage]="alertMessage"
  [showAlert]="showAlert"
  (closeModal)="handleCloseModal()"
  (saveProduct)="handleCreateProduct($event)"
  (updateProduct)="handleUpdateProduct($event)"
  [alertType]="alertType"
></app-form-product>
