<!-- expandable-checkbox-list.component.html -->
<div class="flex flex-col gap-3">
  <label *ngFor="let item of visibleItems">
    <nz-checkbox
      [(ngModel)]="item.checked"
      (ngModelChange)="onSelectionChange(item)"
    >
      {{ item.label }}
    </nz-checkbox>
  </label>

  <p class="icon_text" *ngIf="showMoreButton" (click)="toggleMore()">
    {{ isExpanded ? "Thu gọn" : "Xem thêm" }}
    <i nz-icon [nzType]="isExpanded ? 'up' : 'down'"></i>
  </p>

  <ng-container *ngIf="isExpanded">
    <label *ngFor="let item of hiddenItems">
      <nz-checkbox
        [(ngModel)]="item.checked"
        (ngModelChange)="onSelectionChange(item)"
      >
        {{ item.label }}
      </nz-checkbox>
    </label>
  </ng-container>
</div>
