<label for="dropzone-file-front">
  <div class="p-3 flex justify-center items-center flex-col">
    <img
      src="../../../../../../assets/images/frontCard.webp"
      alt=""
      class="w-96 border border-gray-300 rounded-lg cursor-pointer hover:shadow-sm"
    />
    <p class="pt-2 text-[#ccc] font-semibold">Ảnh căn cước mặt trước</p>
  </div>
  <input type="file" name="" id="dropzone-file-front" class="hidden" />
</label>

<label for="dropzone-file-back">
  <div class="p-3 flex justify-center items-center flex-col">
    <img
      src="../../../../../../assets/images/backCard.webp"
      alt=""
      class="w-96 border border-gray-300 rounded-lg cursor-pointer hover:shadow-sm"
    />
    <p class="pt-2 text-[#ccc] font-semibold">Ảnh căn cước mặt sau</p>
  </div>
  <input type="file" name="" id="dropzone-file-back" class="hidden" />
</label>
