<!-- <ng-container *ngIf="loading; else content">
  <div class="flex justify-center w-full h-full">
    <nz-spin class="w-full" nzTip="Vui Lòng Chờ Trong Giây Lát..."></nz-spin>
  </div>
</ng-container> -->
<!-- error case -->
<!-- <ng-template #content> -->
  <!-- <ng-container *ngIf="orderError; else ordersContent">
    <div class="flex justify-center">
      <nz-result
        nzStatus="500"
        nzTitle="500"
        nzSubTitle="Xin lỗi, có lỗi trên máy chủ."
      ></nz-result>
    </div>
  </ng-container> -->

  <!-- <ng-template #ordersContent> -->
    <div class="mx-16 mt-3">
      <h1 class="text-2xl">DANH SÁCH THUÊ CỦA TÔI</h1>
      <nz-tabset class="mt-2">
        <nz-tab nzTitle="CHỜ PHÊ DUYỆT">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText1"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
          <app-shop-card></app-shop-card>
        </nz-tab>
        <nz-tab nzTitle="CHỜ THANH TOÁN">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText2"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
        </nz-tab>
        <nz-tab nzTitle="CHỜ GIAO HÀNG">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText3"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
        </nz-tab>
        <nz-tab nzTitle="ĐÃ NHẬN HÀNG">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText4"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
        </nz-tab>
        <nz-tab nzTitle="CHỜ HOÀN TRẢ">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText5"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
        </nz-tab>
        <nz-tab nzTitle="HOÀN THÀNH">
          <div class="mt-6 flex justify-between">
            <div>
              <nz-input-group
                nzSearch
                [nzPrefix]="suffixIconButton"
                class="grow"
              >
                <input
                  class="w-input"
                  type="text"
                  nz-input
                  placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
                  [(ngModel)]="searchText6"
                  (keydown.enter)="onSearch()"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button
                  class="border-none"
                  nz-button
                  nzType="default"
                  nzSearch
                  (click)="onSearch()"
                >
                  <span nz-icon nzType="search"></span>
                </button>
              </ng-template>
            </div>
            <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
              <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
              <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
            </nz-select>
          </div>
          <!-- <div *ngIf="!orderListNull; else noData">
            <div *ngFor="let order of orderList">
              <app-shop-card [order]="order"></app-shop-card>
            </div>
          </div> -->
        </nz-tab>
      </nz-tabset>
    </div>
    <app-form-feedback
      [isVisible]="isVisible"
      (closeModal)="handleCloseModal()"
    ></app-form-feedback>
    <!-- <ng-template #noData>
      <div class="flex justify-center">
        <nz-result
          nzTitle="Chưa có đơn hàng"
          nzSubTitle="Bạn chưa có đơn hàng nào. Hãy bắt đầu mua sắm ngay!"
        >
        </nz-result>
      </div>
    </ng-template>
  </ng-template>
</ng-template> -->
