<div class="mx-16 mt-3">
  <h1 class="text-2xl">DANH SÁCH THUÊ CỦA TÔI</h1>
  <!-- <div class="flex"> -->
  <nz-tabset class="mt-2">
    <nz-tab nzTitle="CHỜ PHÊ DUYỆT">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText1"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
    <nz-tab nzTitle="CHỜ THANH TOÁN">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText2"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
    <nz-tab nzTitle="CHỜ GIAO HÀNG">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText3"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
    <nz-tab nzTitle="ĐÃ NHẬN HÀNG">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText4"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
    <nz-tab nzTitle="CHỜ HOÀN TRẢ">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText5"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
    <nz-tab nzTitle="HOÀN TIỀN CỌC">
      <div class="mt-6 flex justify-between">
        <div>
          <nz-input-group nzSearch [nzPrefix]="suffixIconButton" class="grow">
            <input
              class="w-input"
              type="text"
              nz-input
              placeholder="Tìm đơn hàng theo tên shop, mã đơn hàng, tên thiết bị"
              [(ngModel)]="searchText6"
              (keydown.enter)="onSearch()"
            />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button
              class="border-none"
              nz-button
              nzType="default"
              nzSearch
              (click)="onSearch()"
            >
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </div>
        <nz-select [(ngModel)]="selectedFilter" style="width: 200px">
          <nz-option nzValue="7days" nzLabel="7 ngày gần đây"></nz-option>
          <nz-option nzValue="30days" nzLabel="30 ngày gần đây"></nz-option>
        </nz-select>
      </div>
      <div>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
          [isShowBtn]="true"
          buttonName1="Đánh Giá"
          buttonName2="Xem Chi Tiết"
          buttonName3="Mua Lại"
          (showFeedBack)="showFeedback()"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
        <app-shop-card
          [shopName]="'VD GROUP VN'"
          [time]="'22/10/2024'"
        ></app-shop-card>
      </div>
    </nz-tab>
  </nz-tabset>
  <!-- <app-order-card></app-order-card> -->
  <!-- </div> -->
</div>
<app-form-feedback
  [isVisible]="isVisible"
  (closeModal)="handleCloseModal()"
></app-form-feedback>
