<div class="m-10">
  <div>
    <h1 class="font-bold text-4xl mb-6">Máy giặt XQB30MJ102W</h1>
    <div class="mb-10 flex justify-start gap-4">
      <div class="flex justify-start">
        <span
          nz-icon
          nzType="star"
          nzTheme="fill"
          class="text-yellow-300 text-2xl"
        ></span>
        <p class="pt-1.5 px-3 text-lg font-light">4.9 (3000)</p>
      </div>
      <p class="pt-1.5 text-base">Hà Nội</p>
    </div>
    <app-product-carouse></app-product-carouse>
  </div>
  <div class="flex justify-start mt-12">
    <nz-avatar
      nzGap="4"
      [nzSize]="64"
      nzSrc="assets/images/image-group-demo.png"
    ></nz-avatar>
    <div class="mx-3">
      <h1 class="mt-2 font-bold uppercase">VD GROUP VN</h1>
      <button class="mt-2" nz-button nzType="primary" nzGhost>Chat Ngay</button>
    </div>
  </div>
  <div class="mt-12">
    <nz-tabset>
      <nz-tab nzTitle="Tổng Quan">
        <h1 class="font-bold text-2xl mb-6 px-10 mt-3">Máy giặt XQB30MJ102W</h1>
        <div class="grid grid-flow-row-dense grid-cols-3 px-10">
          <div class="first-wrapper">
            <div class="price-wrapper">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Giá cho thuê</span>
              <ul class="list-disc px-5 pt-3">
                <li class="py-1 text-wrap">Theo giờ: 1.000.0000 VND/giờ</li>
                <li class="py-1 text-wrap">Theo ngày: 24.000.000 VND/ngày</li>
                <li class="py-1 text-wrap">Theo tuần: 100.000.000 VND/tuần</li>
              </ul>
            </div>
            <div class="time-wrapper mt-6">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Thời gian cho thuê</span>
              <p class="py-1 pt-3">** Khung giờ cho thuê:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">
                  Cho thuê từ [Giờ bắt đầu] đến [Giờ kết thúc].
                </li>
                <li class="py-1 text-wrap">
                  Có thể thuê linh hoạt theo yêu cầu trong khung giờ quy định.
                </li>
              </ul>
            </div>
            <div class="size-wrapper mt-6">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Kích thước và trọng lượng</span>
              <p class="py-1 pt-3">** Kích thước:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">Chiều dài: 100 cm/inch</li>
                <li class="py-1 text-wrap">Chiều rộng: 100 cm/inch</li>
                <li class="py-1 text-wrap">Chiều cao: 300 cm/inch</li>
              </ul>
              <p class="py-1 pt-3">** Trọng lượng:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">Trọng lượng sản phẩm: 30 kg/lb</li>
                <li class="py-1 text-wrap">
                  Trọng lượng bao bì (nếu có): 400 kg/lb
                </li>
              </ul>
            </div>
          </div>
          <div class="second-wrapper">
            <div class="deposit-wrapper">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Thời gian cho đặt trước</span>
              <ul class="list-disc px-5 pt-3">
                <li class="py-1 text-wrap">
                  Thời gian tối thiểu để đặt trước: 20 giờ /ngày
                </li>
                <li class="py-1 text-wrap">
                  Thời gian tối đa cho đặt trước: 20 tuần
                </li>
              </ul>
            </div>
            <div class="status-wrapper mt-6">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Tình trạng thiết bị</span>
              <p class="py-1 pt-3">** Tình trạng hiện tại:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">
                  Mới | Cũ | Hơi Cũ - 80% | 90% | 100%
                </li>
                <li class="py-1 text-wrap">
                  Thiết bị đã được kiểm tra và bảo trì định kỳ.
                </li>
                <li class="py-1 text-wrap">
                  Không có hư hỏng hoặc dấu hiệu sử dụng vượt mức cho phép.
                </li>
              </ul>
            </div>
            <div class="capacity-wrapper mt-6">
              <nz-avatar
                nzGap="4"
                [nzSize]="'large'"
                nzSrc="assets/images/image-group-demo.png"
              ></nz-avatar>
              <span class="font-bold mx-2">Công suất (nêú có)</span>
              <p class="py-1 pt-3">** Công suất:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">Công suất tối đa: [Số Watt]</li>
                <li class="py-1 text-wrap">Điện áp: [Số Volt]</li>
              </ul>
              <p class="py-1 pt-3">** Hiệu suất:</p>
              <ul class="list-disc px-5">
                <li class="py-1 text-wrap">
                  Hiệu suất năng lượng: [Thông tin về tiêu thụ điện năng hoặc
                  xếp hạng năng lượng nếu có]
                </li>
              </ul>
            </div>
          </div>
          <div class="third-wrapper">
            <app-rental-detail-card
              (showForm)="ShowRentalForm()"
            ></app-rental-detail-card>
            <app-form-rental-registration
              [isVisible]="isVisible"
              [title]="title"
              (closeModal)="handleCloseModal()"
            ></app-form-rental-registration>
          </div>
          <div class="fourth-wrapper col-span-2 mt-5">
            <i class="font-bold mx-2 text-lg">****Mô Tả****:</i>
            <p class="p-2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus inventore eos enim sit doloremque, saepe aperiam
              accusamus explicabo minus. Doloremque expedita ullam nam dicta
              ipsam beatae assumenda hic eius quis? Sed quo nobis fugit quasi,
              quam unde doloremque modi ad ex nostrum deleniti exercitationem
              ullam quis reprehenderit! Nihil quam eos vero optio, rerum,
              praesentium quos, sit unde atque necessitatibus harum! Repellendus
              quod mollitia odio facilis veniam nisi! Ad quam, cum odit
              temporibus eligendi assumenda, sint nulla ea, sunt numquam vero
              atque vel quas at dolor. Totam, veniam voluptas! Alias,
              necessitatibus! Delectus eligendi harum nulla quia, culpa est sed
              maxime deserunt ipsa repudiandae eaque explicabo saepe provident
              nisi quae enim, laborum aliquid porro, consequatur veritatis ex.
              Laborum eum tempore sit modi? Perspiciatis dignissimos vitae
              doloribus quasi quisquam, provident ab! Odio culpa voluptates
              harum, aliquid modi eveniet illum reiciendis asperiores eaque
              architecto? Veniam provident enim necessitatibus nam porro? Alias
              laudantium odio quisquam.
            </p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Hướng Dẫn Sử Dụng">Content of Tab Pane 2</nz-tab>
      <nz-tab nzTitle="Đánh Giá">Content of Tab Pane 3</nz-tab>
    </nz-tabset>
  </div>
  <div class="mt-12 grid grid-flow-row-dense grid-cols-3 px-10">
    <div class="col-span-2">
      <i class="font-bold mx-2 text-lg">****Đánh Giá****:</i>
      <p class="p-2">
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
      </p>
    </div>
    <nz-card style="width: 400px; height: 300px" class="m-10">
      <app-rating-proccess-product></app-rating-proccess-product>
    </nz-card>
  </div>
  <div class="mt-12">
    <h1 class="font-bold text-center text-3xl">Đồ Thuê Liên Quan</h1>
    <div class="flex justify-center mt-2 mb-5">
      <div class="flex justify-between">
        <div class="underline-title-first"></div>
        <div class="underline-title-second"></div>
      </div>
    </div>
    <div class="xl:columns-4 md:columns-2">
      <div *ngFor="let post of postList">
        <app-product-card [post]="post"></app-product-card>
      </div>
    </div>
  </div>
</div>
