<nz-footer class="pt-16 pb-14 bg-white">
  <div class="flex justify-around">
    <img
      class="logo m-1 ms-0 h-24"
      src="assets/images/logo.png"
      alt="main-logo"
    />
    <div>
      <h1 class="text-blue-500 mb-4 font-bold text-lg">Navigation</h1>
      <p class="mb-4">About Us</p>
      <p class="mb-4">Blog</p>
      <p class="mb-4">Terms of Use</p>
      <p class="mb-4">Privacy Policy</p>
    </div>
    <div>
      <h1 class="text-blue-500 mb-4 font-bold text-lg">Featured Locations</h1>
      <p class="mb-4">Kandy</p>
      <p class="mb-4">Anuradhapura</p>
      <p class="mb-4">Badulla</p>
      <p class="mb-4">Colombo</p>
      <p class="mb-4">Kaluthara</p>
    </div>
    <div></div>
    <div></div>
  </div>
</nz-footer>
