<div class="border relative rounded-lg p-4 bg-white shadow-md mt-3">
  <div class="flex">
    <div class="w-1/4 relative">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/007/068/286/small/background-for-website-or-mobile-app-online-shopping-with-3d-smartphone-on-blue-background-free-vector.jpg"
        alt="Group Image"
        class="rounded-lg w-full h-auto"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="text-white bg-black bg-opacity-50 w-full h-full flex items-center justify-center rounded-lg p-4"
        >
          <img
            src="https://gcs.tripi.vn/public-tripi/tripi-feed/img/477743KJB/anh-mo-ta.png"
            alt="Avatar"
            class="rounded-full w-[54px] h-[54px] mr-4 object-cover"
          />
          <div class="flex flex-col items-start">
            <h2 class="text-xl font-semibold text-white">VD GROUP VN</h2>
            <p class="text-xs text-white">Online 1 phút trước</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-3/4 pl-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="flex items-center m-5">
            <span
              class="text-xl"
              nz-icon
              nzType="shop"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Thiết Bị: </span>
            <span class="text-blue-500 ml-1 text-lg">118</span>
          </p>
        </div>
        <div>
          <p class="flex items-center mx-5 mt-5">
            <span
              class="text-xl"
              nz-icon
              nzType="star"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Đánh Giá: </span>
            <span class="text-blue-500 ml-1 text-lg">4.9 (118 đánh giá)</span>
          </p>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <p class="flex items-center mx-5">
            <span
              class="text-xl"
              nz-icon
              nzType="usergroup-add"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Người Đang Thuê: </span>
            <span class="text-blue-500 ml-1 text-lg">118</span>
          </p>
        </div>
        <div>
          <p class="flex items-center"></p>
          <p class="flex items-center mx-5">
            <span
              class="text-xl"
              nz-icon
              nzType="team"
              nzTheme="outline"
            ></span>
            <span class="text-lg mx-2"> Tham Gia: </span>
            <span class="text-blue-500 ml-1 text-lg">3 Tháng Trước</span>
          </p>
        </div>
        <div class="col-span-2 p-5">
          <div class="flex items-center justify-between">
            <button
              nz-button
              [nzType]="'primary'"
              class="pulse relative min-h-[25px]"
              (click)="rentalMoreProduct(true)"
            >
              Thuê nhiều thiết bị tại đây
            </button>
            <button
              nz-button
              *ngIf="isOpen"
              class="pulse relative min-h-[25px] bg-red-500 text-white"
              (click)="rentalMoreProduct(false)"
            >
              Thu gọn 
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
