.forgot-password_wrapper {

    .image-section {
        background: url('../../../../../assets/images/bg-2.png') no-repeat center center / cover;
        filter: brightness(56%) contrast(131%);
        -webkit-filter: brightness(56%) contrast(131%);
        -moz-filter: brightness(56%) contrast(131%);

    }

    .form-section {

        .img-shape1,
        .img-shape2 {
            background-image: url('../../../../../assets/images/shape_tornado.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .img-shape2 {
            background: url('../../../../../assets/images/shape_tornado2.png');
        }
        .container_forgot-password_form{
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}