<div class="p-5 my-3 bg-white rounded-md">
  <h3 class="text-xl text-[#111]">Danh sách Khuyến Mãi Cửa Hàng Của Tôi</h3>
  <section class="py-3">
    <app-form-search-voucher
      (resetLoad)="onloadOrder()"
      (formValueFilter)="onSubmitForm($event)"
    />
  </section>
  <section>
    <nz-table
      [nzCustomColumn]="customColumn"
      [nzScroll]="{ x: '1150px' }"
      #basicTable
      [nzData]="listData"
      [nzBordered]="true"
      [nzPaginationPosition]="'bottom'"
      nzFrontPagination="false"
      nzShowSizeChanger="true"
      [nzShowPagination]="true"
      [nzShowTotal]="showTotal"
      [nzPageIndex]="(pageIndex$ | async) ?? 1"
      [nzTotal]="(pageTotal$ | async) ?? 0"
      [nzPageSize]="(pageSize$ | async) ?? 10"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    >
      <thead>
        <tr>
          <th nzCellControl="maVoucher">Mã Khuyến Mãi</th>
          <th nzCellControl="ngayTao">Ngày tạo</th>
          <th nzCellControl="ngayBatDau">Ngày Bắt Đầu</th>
          <th nzCellControl="ngayKetThuc">Ngày Kết Thúc</th>
          <th nzCellControl="noiDung">Nội dung</th>
          <th nzCellControl="trangThai">Trạng thái</th>
          <th nzCellControl="chinhSua" nzRight>Chỉnh Sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td nzCellControl="maVoucher">{{ data.code ?? i + 1 }}</td>
          <td nzCellControl="ngayTao">
            {{ data.startDate | date : "dd/MM/yyyy hh:mm a" }}
          </td>
          <td nzCellControl="ngayBatDau">{{ data.user.userName }}</td>
          <td nzCellControl="ngayKetThuc">{{ data.recipientPhoneNumber }}</td>
          <td nzCellControl="noiDung">{{ data.note }}</td>
          <td nzCellControl="trangThai">
            @if(data.orderStatuses.length !== 0){
            <app-status-label
              [label]="convertStatus(data.orderStatuses[0].status)"
              [statusType]="data.orderStatuses[0].status"
            />
            }@else { UNKNOWN }
          </td>
          <td nzCellControl="chinhSua" nzRight>
            <a class="text-blue-600">
              <span
                nz-icon
                nzType="form"
                nzTheme="outline"
                class="text-lg"
              ></span>
              <span class="mx-2">Chỉnh Sửa</span>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </section>
</div>

<ng-template #showTotal>
  <div class="text-[14px] font-medium text-[#333]">
    Hiển thị thứ tự 1- {{ pageSize$ | async }} trong
    {{ pageTotal$ | async }} kết quả
  </div>
</ng-template>
