<nz-card class="mt-3 w-full">
  <div class="card-title pb-2 border-b-2 border-zinc-300">
    <div class="flex justify-between">
      <div class="flex">
        <div class="flex">
          <p
            class="pb-1 text-2xl font-extralight"
            nz-icon
            nzType="shop"
            nzTheme="outline"
          ></p>
          <p class="p-1 text-xl font-semibold mx-1.5">
            <!-- {{ order.rentalShopName }} -->
            Cửa Hàng Thiết Bị
          </p>
        </div>
        <div class="flex">
          <button class="mx-5" nz-button nzType="primary" nzGhost>
            Chat Ngay
          </button>
          <button nz-button nzType="primary">Xem Shop</button>
        </div>
      </div>
      <p class="text-zinc-500 text-xl">
        <!-- {{ order.startDate | date : "dd/MM/yyyy" }} -->
        20/10/2024
      </p>
    </div>
  </div>
  <div class="order-item py-3 cursor-pointer" [routerLink]="['./order-detail']">
    <div nz-row nzGutter="16" class="p-4">
      <div nz-col [nzSpan]="6">
        <img
          src="https://cdn.tgdd.vn/Files/2016/10/25/904759/may-giat-mini-la-gi-nen-mua-hay-khong--19.jpg"
          alt="ảnh sản phẩm cố định"
          class="w-full rounded-md"
        />
      </div>
      <div nz-col [nzSpan]="12" class="pl-4">
        <div nz-typography>
          <h4 class="font-semibold text-lg">Mã đơn hàng: SAS9492</h4>
          <p class="text-gray-500 font-medium uppercase">
            Thời gian thuê: từ 20/10/2024 đến 23/10/2024
          </p>
        </div>
        <div class="columns-2 gap-2">
          <p class="font-medium text-base uppercase">Tổng giá thuê:</p>
          <p class="font-medium text-base uppercase">Giá cọc:</p>
          <p class="font-medium text-base uppercase">Số lượng sản phẩm:</p>
          <p class="font-medium text-base uppercase">Trạng thái:</p>
          <p class="font-normal text-base uppercase text-gray-500">
            200,000 VND
          </p>
          <p class="font-normal text-base uppercase text-gray-500">
            200,000 VND
          </p>
          <p class="font-normal text-base uppercase text-gray-500">2</p>
          <p class="font-normal text-base uppercase text-gray-500">Đang thuê</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer mt-3 flex justify-end gap-10">
    <button
      *ngIf="isShowBtn1"
      class="px-5"
      nz-button
      nzType="primary"
      (click)="onClickBtn1()"
    >
      {{ buttonName1 }}
    </button>
    <button *ngIf="isShowBtn2" class="px-5" nz-button nzType="primary" nzGhost>
      {{ buttonName2 }}
    </button>
    <button *ngIf="isShowBtn3" class="px-5" nz-button nzType="primary" nzGhost>
      {{ buttonName3 }}
    </button>
  </div>
</nz-card>
