<section *ngIf="orderProcess else notOrderFound">
  <h3 class="text-2xl font-medium pb-3">
    Tiến trình tạo đơn hàng
  </h3>

  <div class="grid grid-cols-12 gap-4 pb-3">
    <div class="col-span-3">
      <div class="info-personal">
        <h4 class="pb-3">
          Thông tin cá nhân <span class="text-red-500"> *</span>
        </h4>
        <!-- <app-personal-info /> -->
        <nz-alert
        nzType="warning"
        nzCloseable
        nzMessage="Thông tin người dùng đang được phát triển"
      ></nz-alert>
      </div>
    </div>
    <div class="col-span-6">
      <div class="info-order">
        <h4 class="pb-3">
          Thông tin đơn hàng <span class="text-red-500"> *</span>
        </h4>
        <p class="text-gray-300 pb-3">(1 sản phẩm)</p>
        <app-order-info-personal [listProductRentalProcess]="[orderProcess]"/>
      </div>
    </div>
    <div class="col-span-3">
      <div class="info-method_payment">
        <h4 class="pb-3">
          Phương thức thanh toán <span class="text-red-500"> *</span>
        </h4>
        <app-select-radio-payment-method (selectionChange)="onChoosePaymentMethod($event)"/>
      </div>
    </div>
    <div class="col-span-12">
      <div class="time-rental">
        <h4 class="pb-3">
          Thời gian thuê <span class="text-red-500"> *</span>
        </h4>
        <p>Thời gian thuê: <span>{{orderProcess.numberOfDay}} ngày</span></p>
      </div>
    </div>
  </div>
<div class="text-end">
  <nz-button-group>
    <button nz-button (click)="onCreateOrder()">Tạo đơn</button> &nbsp; &nbsp;
    <button nz-button nzType="primary">Chỉnh sửa</button>
  </nz-button-group>
</div>
</section>
<ng-template #notOrderFound>
  <p>Tiến trình này không tồn tại, bạn hãy chọn thuê sản phẩm trên hệ thống !</p>
</ng-template>
