<ng-container *ngTemplateOutlet="resetFormTmp"></ng-container>

<ng-template #resetFormTmp>
  <form nz-form [formGroup]="validateResetForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>Mật khẩu</nz-form-label>
      <nz-form-control
        [nzSpan]="24"
        nzHasFeedback
        nzErrorTip="Làm ơn hãy nhập mật khẩu"
        placeholder="Nhập mật khẩu mới"
      >
        <input
          nz-input
          type="password"
          formControlName="password"
          (ngModelChange)="validateConfirmPassword()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired
        >Xác nhận mật khẩu mới</nz-form-label
      >
      <nz-form-control
        [nzSpan]="24"
        nzHasFeedback
        [nzErrorTip]="passwordErrorTpl"
      >
        <input
          nz-input
          type="password"
          formControlName="confirm"
          placeholder="Xác nhận mật khẩu"
          (ngModelChange)="validateConfirmPassword()"
        />
        <ng-template #passwordErrorTpl let-control>
          @if (control.hasError('required')) { Làm ơn hãy xác nhận mật khẩu! }
          @if (control.hasError('confirm')) { Mật khẩu không nhất quán! }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-control [nzSpan]="24" class="mt-3">
      <button
        nz-button
        class="w-full mt-2"
        nzType="primary"
        [disabled]="!validateResetForm.valid"
      >
        Xác nhận
      </button>
    </nz-form-control>
  </form>
</ng-template>
