<div class="p-3">
  <!-- all category rental post -->
  <div class="">
    <p class="icon_text">
      <span nz-icon nzType="filter" nzTheme="outline"></span>Các loại bài viết
      cho thuê
    </p>
    <app-view-more-item
      [items]="checkOptionCategory"
      (selectionChange)="onCategory($event)"
    >
    </app-view-more-item>
  </div>
  <!-- location -->
  <div class="">
    <div class="pb-5">
      <p class="icon_text">
        <span nz-icon nzType="filter" nzTheme="outline"></span>Bộ Lọc Tìm Kiếm
      </p>
    </div>
    <nz-checkbox-group
      class="flex flex-col gap-3"
      [(ngModel)]="checkOptionsOne"
      (ngModelChange)="({})"
    ></nz-checkbox-group>
  </div>
  <!-- range price -->

  <!-- status device  -->

  <!-- branch  -->

  <!-- review  -->
  <div class="">
    <p class="icon_text">
      <span nz-icon nzType="filter" nzTheme="outline"></span>Đánh giá
    </p>
    <nz-rate [ngModel]="5" nzDisabled></nz-rate>
    <div><nz-rate [ngModel]="4" nzDisabled></nz-rate> trở lên</div>
    <div><nz-rate [ngModel]="3" nzDisabled></nz-rate> trở lên</div>
    <div><nz-rate [ngModel]="2" nzDisabled></nz-rate> trở lên</div>
    <div><nz-rate [ngModel]="1" nzDisabled></nz-rate> trở lên</div>
  </div>
</div>
