<app-navbar-headear
  [isCollapsed]="isSidebarCollapsed"
  [notificationCount]="notificationCount"
  (toggleSidebar)="onToggleSidebar($event)"
  (avatarClick)="onAvatarClick()"
>
</app-navbar-headear>
<nz-layout class="main-layout h-full">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isSidebarCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
  >
    <!-- <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
        <span>DashBoard</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>User</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="apartment" nzTheme="outline"></span>
        <span>Role</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Group</span>
      </li>
    </ul> -->
    <ul nz-menu nzTheme="light" nzMode="inline">
      <!-- Admin Role -->
      <ng-container *ngIf="userRole === USERROLE.ADMIN">
        <li nz-menu-item>
          <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
          <span>Thống Kê</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <span>Quản Lý Người Dùng</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="shop" nzTheme="outline"></span>
          <span>Danh Sách Cửa Hàng</span>
        </li>
      </ng-container>

      <!-- Lessor Role -->
      <ng-container *ngIf="userRole === USERROLE.LESSOR">
        <li nz-menu-item>
          <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
          <span>Thông Kê</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span>Danh Sách Bài Đăng</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          <span>Danh Sách Người Thuê</span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="shop" nzTheme="outline"></span>
          <span>Cửa Hàng</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-content style="min-height: calc(100vh - 65px);">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
