
<div class="">
  <div class="pb-3">
    <img class="w-full object-cover max-h-[540px] min-h-[540px]" src="{{ selectedImage }}" alt="" />
  </div>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let slide of images; let index as $index" class="mx-1 cursor-pointer" (click)="onSelectImage(slide)">
      <img
        [src]="slide"
        alt=""
        class="h-[200px] object-cover"
      />
    </div>
  </ngx-slick-carousel>
</div>
