.underline-title-first {
    width: 60px;
    height: 4px;
    background-color: #007bff;
    border-radius: 2px;
  }
  .underline-title-second {
    width: 10px;
    height: 4px;
    background-color: #007bff;
    border-radius: 2px;
    margin-left: 5px;
  }