<div class="h-[524px] px-[6px] flex flex-col-reverse relative" style="
    background-image: linear-gradient(
      to right top,
      #ffffff,
      #fcfcfd,
      #f9f8fb,
      #f5f5f9,
      #f2f2f7
    );
    padding-bottom: calc(60px);
  ">
    @if(messages$ | async; as messages){
    <ng-container *ngIf="messages.length > 0 && (userGetCurrent$ | async) as currentOwnUser; else noMessages">
        <div *ngFor="let message of messages">
            <div class="py-2 px-3 mb-4 rounded-l-lg rounded-tr-lg w-fit text-white bg-[#1890FF]" [ngClass]="{'bg-[#E1E1E1] text-black rounded-r-lg rounded-tl-lg': message.senderId !== currentOwnUser.uid,
                    'float-right': message.senderId === currentOwnUser.uid
                }">
                {{ message.text }}
            </div>
        </div>
    </ng-container>

    }
    <div class="absolute bottom-0 w-full -mx-[6px] bg-white py-2 px-3">
        <div class="flex justify-start items-center gap-x-3 border border-solid border-[#e1e1e1] -mx-[13px] p-[7px]">
            <div class="flex items-center gap-x-2 cursor-pointer" (click)="showPreventAccess()">
                <span nz-icon nzType="plus-circle" class="text-[20px] text-[#1890FF]" nzTheme="outline"></span>
                <span nz-icon nzType="file-image" class="text-[20px] text-[#1890FF]" nzTheme="outline"></span>
            </div>
            <div class="flex-1 flex gap-x-2">
                <input type="text" class="bg-[#f9f9f9]" placeholder="Aa" [formControl]="textBoxChat" nz-input />
                <button nz-button nzType="primary" [nzLoading]="isSending" (click)="sendChat()">
                    <span nz-icon nzType="aliwangwang" nzTheme="fill"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #noMessages>
    <img src="assets/images/message-empty.png" alt=""
        class="w-[300px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2" />
</ng-template>