.auth_wrapper {
    .form-section {
        .container_auth_form{
            background-color: #fff;
            border: 1px solid #a1a1a1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}