<nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
      <th>Đơn giá thuê theo ngày</th>
      <th>Tiền cọc/sản phẩm</th>
      <th>Thành tiền</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
    <tr>
      <td>
        <div class="flex items-center gap-x-2">
          <img [src]="data.image" alt="image.png" class="w-[100px]"/>
          <p>{{ data.productName }}</p>
        </div>
      </td>
      <td>
        <nz-input-number
          [(ngModel)]="demoValue"
          [nzMin]="1"
          [nzMax]="10"
          [nzStep]="1"
          nzDisabled="true"
        ></nz-input-number>
      </td>
      <td>
        <span>{{ data.rentalPrice }}</span>
      </td>
      <td>
        <span>{{ data.depositPrice }}</span>
      </td>
      <td>
       <div class="flex justify-center items-center gap-x-11">
        <span>{{ data.total }}</span>
        <!-- <span class="cursor-pointer" nz-icon nzType="delete" nzTheme="outline"></span> -->
       </div>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
<div>
    <p>Tổng tiền thuê: <span class="font-medium"> 1.800.000 VND</span></p>
    <p>Phí đặt cọc <span class="font-medium">200.000 VND</span></p>
    <p>Tổng cộng <span class="font-medium">2.000.000 VND</span></p>
</div>
