<nz-table #basicTable [nzData]="listProductRentalProcess || []" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>Sản phẩm</th>
      <th>Số lượng</th>
      <th>Đơn giá thuê theo ngày</th>
      <th>Tiền cọc/sản phẩm</th>
      <th>Thành tiền</th>
    </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
    <tr>
      <td>
        <div class="flex items-center gap-x-2">
          <img [src]="data.images[0]" alt="image.png" class="w-[100px]"/>
          <p>{{ data.productName }}</p>
        </div>
      </td>
      <td>
        <nz-input-number
          [(ngModel)]="data.quantityRequest"
          [nzMin]="1"
          [nzMax]="10"
          [nzStep]="1"
          nzDisabled="true"
        ></nz-input-number>
      </td>
      <td>
        <span>{{ data.rentalPriceRequest }}</span>
      </td>
      <td>
        <span>{{ data.depositPriceRequest }}</span>
      </td>
      <td>
       <div class="flex justify-center items-center gap-x-11">
        <span>{{ data.rentalPriceRequest + data.depositPriceRequest }}</span>
       </div>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
<div>
    <p>Tổng tiền thuê: <span class="font-medium"> {{calTotalPriceRental | currency: "VND"}}</span></p>
    <p>Phí đặt cọc <span class="font-medium">{{calTotalPriceDeposit | currency: "VND"}}</span></p>
    <p>Tổng cộng <span class="font-medium">{{calTotalPriceDeposit + calTotalPriceRental | currency: "VND"}}</span></p>
</div>
