<div class="flex items-center gap-4 bg-purple-300 h-screen p-5">
  <div
    class="chat-list w-[30%] overflow-hidden bg-slate-100 rounded-md"
    style="height: calc(100vh - 20px)"
  >
    <div class="m-5">
      <input
        type="text"
        placeholder="Tìm người dùng"
        nz-input
        [nzAutocomplete]="auto"
        (input)="onInput($event)"
      />
      <nz-autocomplete nzBackfill #auto>
        @for (item of usersChat$ | async; track $index) {
        <nz-auto-option
          [nzValue]="item.uid"
          [nzLabel]="item.displayName"
          (click)="onCreateChat(item)"
        >
          <div class="flex items-start gap-x-4 justify-start">
            <img
              [src]="item.photoURL"
              class="w-[32px] h-[32px] object-cover rounded-full"
              alt="avtar.png"
            />
            <div>
              <p>{{ item.displayName }}</p>
            </div>
          </div>
        </nz-auto-option>
        }
      </nz-autocomplete>
    </div>

    <div class="m-5">
      <nz-list nzBordered >
        @for (item of myChats$ | async; track item) {
        <nz-list-item (click)="chooseChatItem(item)">
          <span nz-typography
            ><mark>{{ item.chatName }}</mark></span
          >
          <div class="flex items-center justify-start gap-4">
            <img
              [src]="item.chatPic"
              alt="avatar.png"
              class="w-[32px] h-[32px] rounded-full object-cover"
            />
            <div>
              <p>{{ item.lastMessageDate | dateFirebase }}</p>
              <p>{{ item.lastMessage }}</p>
            </div>
          </div>
        </nz-list-item>
        }
      </nz-list>
    </div>
  </div>
  <div
    class="flex-1 bg-slate-100 rounded-md"
    style="height: calc(100vh - 20px)"
  >
    <section style="height: calc(100vh - 20px)" class="relative">
      <div
        class="messages-header p-5 flex justify-start items-center gap-x-3"
        *ngIf="selectedChat$ | async as selectedChat; else noMessage"
      >
        <img
          [src]="selectedChat.chatPic"
          class="w-[48px] h-[48px] rounded-md object-cover"
          alt="avatar.png"
        />
        <h2>{{ selectedChat.chatName }}</h2>
      </div>
      <nz-divider></nz-divider>
      <div
        class="chat-area bg-white p-4 flex flex-col-reverse overflow-y-auto"
        style="height: calc(100vh - 270px)"
      >
        <ng-container *ngIf="userGetCurrent$ | async as currentUser">
          <div *ngFor="let message of messages$ | async">
            <div class="p-5 mb-4 rounded-lg w-fit bg-[#f6f6f6]"
            [ngClass]="{'float-end bg-purple-300 ': message.senderId === currentUser.uid}">
              {{ message.text }}
              <p class="text-gray-500 py-1 text-right">
                {{ message.sentDate| dateFirebase }}
              </p>
            </div>
          </div>
          <div #endOfChat></div>
        </ng-container>
      </div>
      <div class="input-area absolute bottom-0 w-full">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            [formControl]="messageControl"
            (keydown.enter)="sendMessage()"
            nz-input
            placeholder="Nhập mesage"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="sendMessage()" nzSearch>
            <span nz-icon nzType="send"></span>
          </button>
        </ng-template>
      </div>
    </section>
  </div>
</div>
<ng-template #noMessage>
  <div class="p-5 flex justify-start items-center gap-x-3">
    <h2>Message</h2>
  </div>
</ng-template>
