<table class="w-full">
    <tbody>
        <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Tên</td>
            <td class="font-medium py-[4px]">{{infoRenter.name}}</td>
        </tr>
        <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Số điện thoại</td>
            <td class="font-medium py-[4px]">{{infoRenter.phone}}</td>
        </tr>
        <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Email</td>
            <td class="font-medium py-[4px]">{{infoRenter.email}}</td>
        </tr>
        <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Địa chỉ giao</td>
            <td class="font-medium py-[4px]">{{infoRenter.address}}</td>
        </tr>
        <tr>
            <td class="text-[14px] font-normal py-[4px] w-full">Ghi chú</td>
            <td class="font-medium py-[4px]">{{infoRenter.note}}</td>
        </tr>
    </tbody>
</table>