<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzMaskClosable]="true"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'700px'"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formConfirm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="message">
          Lời Nhắn (Nếu Có)
        </nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            class="w-full"
            formControlName="message"
            [placeholder]="placeholder"
            [nzAutosize]="{ minRows: 6, maxRows: 12 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="isReturn">
        <nz-form-label [nzSpan]="24" nzFor="fileUpload">
          Tải ảnh sản phẩm chụp tại thời điểm
        </nz-form-label>
        <nz-form-control>
          <!-- Nút button để chọn file -->
          <button
            nz-button
            type="button"
            nzType="primary"
            (click)="fileInput.click()"
          >
            <i nz-icon nzType="upload"></i> Chọn hình ảnh
          </button>

          <!-- Input file ẩn -->
          <input
            #fileInput
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            style="display: none"
          />

          <!-- Preview ảnh -->
          <div *ngIf="previewImage" class="preview-container mt-2">
            <img
              [src]="previewImage"
              alt="Preview"
              class="img-preview"
              style="max-width: 100%; max-height: 200px; margin-top: 10px"
            />
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <div class="flex justify-between gap-5">
            <button class="w-full" nz-button type="submit" nzType="primary">
              Xác Nhận
            </button>
            <button
              class="w-full"
              nz-button
              type="button"
              nzType="default"
              nzDanger
              (click)="handleCancel()"
            >
              Hủy
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
